{% extends 'website/base.html' %}

{% load static %}

{% block content %}

    <!-- Clients -->
    <div class="iq-our-clients iq-ptb-60 light-bg">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 col-md-12 ">
                    <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false"
                         data-dots="false"
                         data-items="7" data-items-laptop="6" data-items-tab="5" data-items-mobile="2"
                         data-items-mobile-sm="1" data-margin="30">
                        <div class="item">
                            <a href="#">
                                <img class="img-fluid center-block"
                                     src="{% static 'website/images/clients/white/01.png' %}" alt="#">
                            </a>
                        </div>
                        <div class="item"><a href="#"><img class="img-fluid center-block"
                                                           src="{% static 'website/images/clients/white/02.png' %}"
                                                           alt="#"></a>
                        </div>
                        <div class="item"><a href="#"><img class="img-fluid center-block"
                                                           src="{% static 'website/images/clients/white/03.png' %}"
                                                           alt="#"></a>
                        </div>
                        <div class="item"><a href="#"><img class="img-fluid center-block"
                                                           src="{% static 'website/images/clients/white/04.png' %}"
                                                           alt="#"></a>
                        </div>
                        <div class="item"><a href="#"><img class="img-fluid center-block"
                                                           src="{% static 'website/images/clients/white/05.png' %}"
                                                           alt="#"></a>
                        </div>
                        <div class="item"><a href="#"><img class="img-fluid center-block"
                                                           src="{% static 'website/images/clients/white/06.png' %}"
                                                           alt="#"></a>
                        </div>
                        <div class="item"><a href="#"><img class="img-fluid center-block"
                                                           src="{% static 'website/images/clients/white/01.png' %}"
                                                           alt="#"></a>
                        </div>
                        <div class="item"><a href="#"><img class="img-fluid center-block"
                                                           src="{% static 'website/images/clients/white/02.png' %}"
                                                           alt="#"></a>
                        </div>
                        <div class="item"><a href="#"><img class="img-fluid center-block"
                                                           src="{% static 'website/images/clients/white/03.png' %}"
                                                           alt="#"></a>
                        </div>
                        <div class="item"><a href="#"><img class="img-fluid center-block"
                                                           src="{% static 'website/images/clients/white/04.png' %}"
                                                           alt="#"></a>
                        </div>
                        <div class="item"><a href="#"><img class="img-fluid center-block"
                                                           src="{% static 'website/images/clients/white/05.png' %}"
                                                           alt="#"></a>
                        </div>
                        <div class="item"><a href="#"><img class="img-fluid center-block"
                                                           src="{% static 'website/images/clients/white/06.png' %}"
                                                           alt="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Clients -->



    <!-- What is Ico -->
    <section id="ico" class="overview-block-pt">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-6 align-self-center">
                    <img src="{% static 'core/tasks.png' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="heading-title left">
                        <h2 class="iq-tw-6">Send Crypto</h2>
                    </div>
                    <P>
                        Looking for earning at home with small investment, download Crypto Sender and registered
                        yourself select the best package according to your choice
                    </P>
                    <p>
                        Send money To Anyone from all around the world , with simple entering email and amount of the user
                    </p>
                    <p>
                        You Can Easily deposit your Amount
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- What is Ico END -->

    <!-- Our Mission -->
    <section class="overview-block-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <img src="{% static 'core/shares.png' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="heading-title left">
                        <h2 class="iq-tw-6">Request Crypto</h2>
                    </div>
                    <p>Need to boost your earnings earn with justr simple request , share Crypto Sender with your friends and
                        family and
                        ask them to send you crypto in just easy Steps</p>
                    <p>
                                               Request money From Anyone from all around the world , with simple entering email and amount of the user

                    </p>
                    <p>So what are you waiting for Signup Crypto Sender and start earning from now onwards</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Mission END -->

    <!-- Tranding Platform -->
    <section id="tutorials" class="iq-tranding-Platform overview-block-pt">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <small class="iq-font-green">Steps</small>
                        <h2 class="title iq-tw-6">Simple and Easy</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="light-bg">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                   href="#nav-home"
                                   role="tab" aria-controls="nav-home" aria-selected="true">
                                    <i class="la la-download"></i><span>Open Site</span></a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                   href="#nav-profile" role="tab" aria-controls="nav-profile"
                                   aria-selected="false">
                                    <i class="la la-user-plus"></i><span>Register</span>
                                </a>
                                <a class="nav-item nav-link" id="nav-app-tab" data-toggle="tab" href="#nav-app"
                                   role="tab" aria-controls="nav-app" aria-selected="false">
                                    <i class="la la-check-circle-o"></i><span>Send Crypto</span>
                                </a>
                                 <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                   href="#nav-contact"
                                   role="tab" aria-controls="nav-contact" aria-selected="false">
                                    <i class="la la-dollar"></i><span>Request</span>
                                </a>
                                <a class="nav-item nav-link" id="nav-token-tab" data-toggle="tab"
                                   href="#nav-token"
                                   role="tab" aria-controls="nav-token" aria-selected="false">
                                    <i class="la la-list-alt"></i><span>Daily Tasks</span>
                                </a>

                            </div>
                        </nav>
                        <div class="tab-content iq-mt-50" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                 aria-labelledby="nav-home-tab">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img class="img-fluid" src="{% static 'core/download.png' %}"
                                             height="200"
                                             alt="#">
                                    </div>
                                    <div class="col-lg-6 align-self-center">
                                        <h3 class="iq-tw-6 iq-mb-15">STEP 1: Open Crypto Sender</h3>
                                        <p>
                                            Crypto Sender has been released a stable version and is available to
                                            download
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                 aria-labelledby="nav-profile-tab">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img class="img-fluid" src="{% static 'core/register1.png' %}" alt="#">
                                    </div>
                                    <div class="col-lg-6 align-self-center">
                                        <h3 class="iq-tw-6 iq-mb-15">STEP 2: Registration</h3>
                                        <p>
                                            No creditcard or payment required so what are you waiting for,
                                            go
                                            get
                                            register yourself
                                        </p>
                                        <ul>

                                            <li><i class="la la-arrow-right iq-mr-10"></i>
                                                Register with your email account
                                            </li>
                                            <li><i class="la la-arrow-right iq-mr-10"></i>
                                                Registration is free
                                            </li>
                                            <li><i class="la la-arrow-right iq-mr-10"></i>
                                                No creditcard required for registration
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-app" role="tabpanel"
                                 aria-labelledby="nav-app-tab">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img class="img-fluid" src="{% static 'core/sub2.png' %}" alt="#">
                                    </div>
                                    <div class="col-lg-6 align-self-center">
                                        <h3 class="iq-tw-6 iq-mb-15">STEP 3: Send Currency</h3>
                                        <p>
                                            You can send <b class="text-warning">unlimited</b>
                                            currency to any one anywhere in the world
                                        </p>
                                        <ul>
                                            <li><i class="la la-arrow-right iq-mr-10"></i>
                                                You can send without any Security Issue
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-token" role="tabpanel"
                                 aria-labelledby="nav-token-tab">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img class="img-fluid" src="{% static 'core/task.png' %}" alt="#">
                                    </div>
                                    <div class="col-lg-6 align-self-center">
                                        <h3 class="iq-tw-6 iq-mb-15">STEP 4: Daily Tasks</h3>
                                        <p>
                                            Complete daily tasks and earn upto Crypto
                                        </p>
                                        <ul>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                 aria-labelledby="nav-contact-tab">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img class="img-fluid" src="{% static 'core/withdrawal.png' %}" alt="#">
                                    </div>
                                    <div class="col-lg-6 align-self-center">
                                        <h3 class="iq-tw-6 iq-mb-15">STEP 5: Withdrawal</h3>
                                        <p>
                                            If your account wallet is empty, you can request from your friend and family
                                            to send you amount
                                        </p>
                                        <ul>
                                            <li><i class="la la-arrow-right iq-mr-10"></i>
                                                Submit request Form
                                            </li>
                                            <li><i class="la la-arrow-right iq-mr-10"></i>
                                                Wait for while the receiver accept it and you will get paid
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tranding Platform END -->


    <!-- Product Description -->
    <section id="product" class="iq-product-description overview-block-pt">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <small class="iq-font-green">Product</small>
                        <h2 class="title iq-tw-6">Features</h2>
                    </div>
                </div>
            </div>
            <div class="row iq-mt-100">
                <div class="col-lg-4">
                    <div class="iq-fancy-box text-sm-center">
                        <div class="fancy-icon">
                            <img class="img-fluid" src="{% static 'website/images/fancy/1.png' %}" alt="">
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-7">Easy To Used</h5>
                            <p>Crypto Sender has a user-friendly design which is easily and friendly to use. Each
                                feature
                                on
                                the app is easily understandable.</p>
                        </div>
                    </div>
                </div>
                {#                <div class="col-lg-4">#}
                {#                    <div class="iq-fancy-box text-sm-center">#}
                {#                        <div class="fancy-icon">#}
                {#                            <img class="img-fluid" src="{% static 'website/images/fancy/2.png' %}" alt="">#}
                {#                        </div>#}
                {#                        <div class="fancy-content">#}
                {#                            <h5 class="iq-tw-7">Awesome Design</h5>#}
                {#                            <p>Crypto Sender is designed in a dark theme which enables the user to use the app over extended periods of time.</p>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                <div class="col-lg-4">
                    <div class="iq-fancy-box text-sm-center">
                        <div class="fancy-icon">
                            <img class="img-fluid" src="{% static 'website/images/fancy/3.png' %}" alt="">
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-7">Easy To Customize</h5>
                            <p>Crypto Sender has features where you can customize your profile with your preferences.
                                Also,
                                you can easily withdraw any of your earning with Binance.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="iq-fancy-box text-sm-center">
                        <div class="fancy-icon">
                            <img class="img-fluid" src="{% static 'website/images/fancy/4.png' %}" alt="">
                        </div>
                        <div class="fancy-content">
                            <h5 class="iq-tw-7">24 Hour Support</h5>
                            <p>Crypto Sender has a customer support service which is live 24/7. You can complain or
                                give
                                any
                                feedback to the support email./p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Description END -->

    <!-- Token Sale Timeline -->
    <section id="road" class="iq-timeline iq-bg-over overview-block-ptb" style="margin-top: 50px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title">
                        <small class="iq-font-green">Regular</small>
                        <h2 class="title iq-tw-6">Updates History</h2>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-md-12">
                    <div class="timeline">
                        <div class="timeline__wrap">
                            <div class="timeline__items">
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <h2>V 1.0</h2>
                                        <small>09th april, 2023</small>
                                        <p>
                                            Security and Bugs Fixes application and new animating website
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <h2>V 0.3</h2>
                                        <small>12th april, 2023</small>
                                        <p>
                                            Administration Portal added with official website and Application fixes
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <h2>V 0.2</h2>
                                        <small>15th april, 2023</small>
                                        <p>
                                            Security and Bugs Fixes application and new animating website
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <h2>V 0.1</h2>
                                        <small>20th Sep, 2021</small>
                                        <p>
                                            Initial pre-alpha version released
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}