<!-- Token Sale Proceeds -->
<section id="contact-us" class="contact-us overview-block-pt">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form id="contact" method="post">
                        <div class="heading-title left">
                            <small class="iq-font-green">Contact With Us</small>
                            <h2 class="title iq-tw-6">Contact ICO Crypto Sender</h2>
                        </div>
                        <p class="iq-mb-30">Quae laboriosam sunt consectetur, assumenda provident lorem ipsum dolor sit amet, consectetur adipisicing elit. hic perspiciatis.</p>
                        <div class="contact-form">
                            <div class="section-field">
                                <input class="require" id="contact_name" type="text" placeholder="Name*" name="name">
                            </div>
                            <div class="section-field">
                                <input class="require" id="contact_email" type="email" placeholder="Email*" name="email">
                            </div>
                            <div class="section-field">
                                <input class="require" id="contact_phone" type="text" placeholder="Phone*" name="phone">
                            </div>
                            <div class="section-field textarea">
                                <textarea id="contact_message" class="input-message require" placeholder="Comment*" rows="5" name="message"></textarea>
                            </div>
                            <div class="section-field iq-mt-20">
                                <div class="g-recaptcha" data-sitekey="6Lc5XV4UAAAAAJzUmGomye9Peru8lXyzT22FH0lX"></div>
                            </div>
                            <div class="d-block text-center">
                                <button id="submit" name="submit" type="submit" value="Send" class="button iq-mt-15">Send Message</button>
                            </div>
                            <div class="alert alert-success alert-dismissible fade show" role="alert" id="success">
                                <strong>Thank You, Your message has been received.</strong>.
                                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 iq-pl-50">
                    <div class="heading-title left iq-mt-30">
                        <small class="iq-font-green">JUST ONE CALLs</small>
                        <h2 class="title iq-tw-6">Address</h2>
                    </div>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting. It has survived not only five centuries.</p>
                    <div class="iq-contact-box-01 iq-mt-40">
                        <div class="iq-icon yellow-bg">
                            <i aria-hidden="true" class="la la-map-marker"></i>
                        </div>
                        <div class="contact-content">
                            <h5 class="iq-tw-7">Address</h5>
                            <span class="lead">1234 North Luke Lane,<br>South Bend,IN 360001</span>
                        </div>
                    </div>
                    <div class="iq-contact-box-01 iq-mt-40">
                        <div class="iq-icon yellow-bg">
                            <i aria-hidden="true" class="la la-phone-square"></i>
                        </div>
                        <div class="contact-content">
                            <h5 class="iq-tw-6">Phone</h5>
                            <span class="lead iq-tw-6">+123456789</span>
                            <p class="iq-mb-0">Mon-Fri 8:00am - 8:00pm</p>
                        </div>
                    </div>
                    <div class="iq-contact-box-01 iq-mt-40">
                        <div class="iq-icon yellow-bg">
                            <i aria-hidden="true" class="la la-envelope-o"></i>
                        </div>
                        <div class="contact-content">
                            <h5 class="iq-tw-6">Mail</h5>
                            <span class="lead iq-tw-6">support@cryptosender.com</span>
                            <p class="iq-mb-0">24 X 7 online support</p>
                        </div>
                    </div>
                    <ul class="info-share">
                        <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-google"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-box text-center iq-bg-over iq-over-black-20 text-center iq-ptb-20 iq-mt-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="iq-copyright text-white">© Copyright 2023 Crypto Sender Developed by Sadaam</div>
                    </div>
                </div>
            </div>
        </div>
    </section>