{% load static %}

<!-- Header -->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="javascript:void(0)">
                        <img src="{% static 'admin/img/logo.jpeg' %}" class="img-fluid" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="la la-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto w-100 justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" href="#wave">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#ico">Earning</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tutorials">Steps</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#subscriptions">subscription</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#product">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#faq">FAQ's</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav justify-content-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Eng
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="javascript:void(0)">Eng</a>
                                {#                                <a class="dropdown-item" href="javascript:void(0)">Deutsch</a>#}
                                {#                                <a class="dropdown-item" href="javascript:void(0)">Español</a>#}
                                {#                                <a class="dropdown-item" href="javascript:void(0)">Spanish</a>#}
                            </div>
                        </li>
                        <li class="nav-item iq-mlr-0">
                            {% if request.user.is_authenticated %}
                                <a class="nav-link button"
                                   href="{% url 'payapp:dashboard' %}"> Dashboard
                                </a>
                            {% else %}
                                 <a class="nav-link button"
                                   href="{% url 'register:login' %}"> Login
                                </a>
                            {% endif %}

                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header END -->