/*

Template: COINEX - Crypto Currency HTML Template 
Author: iqonicthemes.in
Version: 1.5
Design and Developed by: iqonicthemes.in

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/
