{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                            <img alt="" class="avatar-md rounded-circle img-thumbnail"
                                 src="{% static 'admin/images/base/no-user.png' %}">
                        </div>
                        <div class="flex-grow-1 align-self-center">
                            <div class="text-muted">
                                <p class="mb-2">Welcome to Dashboard</p>
                                <h5 class="mb-1">{{ request.user.get_name_info }}</h5>
                                <p class="mb-0">{{ request.user.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 align-self-center">
                    <div class="text-lg-center mt-4 mt-lg-0">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <p class="text-muted text-truncate mb-2">Amount</p>
                                    <h5 class="mb-0">{{ request.user.total_amount }}</h5>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <p class="text-muted text-truncate mb-2">Currency</p>
                                    <h5 class="mb-0">{{ request.user.currency_type }}</h5>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <p class="text-muted text-truncate mb-2">Send Amount</p>
                                    <h5 class="mb-0">{{ request.user.sent_amount }}</h5>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <p class="text-muted text-truncate mb-2">Transactions</p>
                                    <h5 class="mb-0">{{ total_transactions }}</h5>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end row -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-11">
        </div>
        <div class="col-lg-1 mt-2">
            <a href="{% url 'payapp:deposit' '10' %}" class="btn btn-success border-right btn-outline-success btn-sm">Deposit Amount</a>
        </div>

    </div>

    <div class="card">
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-6">
                    <p class="mb-0 h4">
                        <i class="bx bx-transfer"></i> Recent Transactions
                    </p>
                </div>

            </div>
        </div>
        {% if recent_transactions %}
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap table-check">
                        <thead class="table-light">
                        <tr>
                            <th class="align-middle">ID</th>
                            <th class="align-middle">Sender</th>
                            <th class="align-middle">Receiver</th>
                            <th class="align-middle">Amount</th>
                            <th class="align-middle">Type</th>
                            <th class="align-middle">Status</th>
                            <th class="align-middle">Created</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for objects in recent_transactions %}
                            <tr>
                                <td>
                                    <b># {{ objects.id }}</b>
                                </td>
                                <td>
                                    {% if objects.sender == request.user %}
                                        <b>You</b>
                                    {% else %}
                                        {{ objects.sender.get_name_info }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if objects.receiver == request.user %}
                                        <b>You</b>
                                    {% else %}
                                        {{ objects.receiver.get_name_info }}
                                    {% endif %}
                                </td>
                                <td>
                                    <b>{{ objects.amount }} {{ request.user.currency_type }}</b>
                                </td>
                                <td>
                                    <b>
                                        {% if objects.sender == request.user %}
                                            <i class="fa fa-arrow-up text-primary"></i> Send
                                        {% else %}
                                            <i class="fa fa-arrow-down text-primary"></i> Received
                                        {% endif %}
                                    </b>
                                </td>
                                <td>
                                    <b>
                                        {% if objects.is_completed %}
                                            <span class="badge bg-success me-1"></span> completed
                                        {% else %}
                                            <span class="badge b-danger me-1"></span> cancelled
                                        {% endif %}
                                    </b>
                                </td>
                                <td>
                                    <i class="fab me-1"></i> {{ objects.created_on }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="card-body">
                <p class="mb-0 text-danger">
                    <b>No transactions available</b>
                </p>
            </div>
        {% endif %}
    </div>

    <div class="card">
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-6">
                    <p class="mb-0 h4">
                        <i class="bx bx-transfer"></i> Recent Requests
                    </p>
                </div>

            </div>
        </div>
        {% if recent_requests %}
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap table-check">
                        <thead class="table-light">
                        <tr>
                            <th class="align-middle">ID</th>
                            <th class="align-middle">Sender</th>
                            <th class="align-middle">Receiver</th>
                            <th class="align-middle">Amount</th>
                            <th class="align-middle">Type</th>
                            <th class="align-middle">Status</th>
                            <th class="align-middle">Created</th>
                            <th class="align-middle">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for objects in recent_requests %}
                            <tr>
                                <td>
                                    <b># {{ objects.id }}</b>
                                </td>
                                <td>
                                    {% if objects.sender == request.user %}
                                        <b>You</b>
                                    {% else %}
                                        {{ objects.sender.get_name_info }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if objects.receiver == request.user %}
                                        <b>You</b>
                                    {% else %}
                                        {{ objects.receiver.get_name_info }}
                                    {% endif %}
                                </td>
                                <td>
                                    <b>{{ objects.amount }} {{ request.user.currency_type }}</b>
                                </td>
                                <td>
                                    <b>
                                        {% if objects.sender == request.user %}
                                            <i class="fa fa-arrow-up text-primary"></i> Send
                                        {% else %}
                                            <i class="fa fa-arrow-down text-primary"></i> Received
                                        {% endif %}
                                    </b>
                                </td>
                                <td>
                                    <b>
                                        {% if objects.status == 'pending' %}
                                            <span class="badge bg-warning me-1"></span> {{ objects.get_status_display }}
                                        {% elif objects.status == 'accepted' %}
                                            <span class="badge bg-success me-1"></span>
                                            {{ objects.get_status_display }}
                                        {% else %}
                                            <span class="badge bg-danger me-1"></span>
                                            {{ objects.get_status_display }}
                                        {% endif %}
                                    </b>
                                </td>
                                <td>
                                    <i class="fab me-1"></i> {{ objects.created_on }}
                                </td>
                                <td>
                                    {% if objects.receiver == request.user %}
                                        {% if objects.status == "pending" %}
                                            <a href="{% url 'payapp:request-update' objects.id %}?status=approved"><span
                                                    class=" btn btn-sm btn-outline-success font-size-12">Accept</span></a>
                                            <a href="{% url 'payapp:request-update' objects.id %}?status=cancel"><span
                                                    class="btn btn-sm btn-outline-danger font-size-12">Cancel</span></a>
                                        {% elif objects.status == "approved" %}
                                            <a href="#"><span
                                                    class="bg-success font-size-12">{{ objects.status }}</span></a>
                                        {% else %}
                                            <a href="#"><span
                                                    class="badge badge-pill badge-soft-secondary font-size-12">{{ objects.status }}</span></a>
                                        {% endif %}
                                    {% elif objects.sender == request.user %}
                                        {% if objects.status == "pending" %}
                                            <span
                                                    class="badge badge-pill badge-soft-primary font-size-12">{{ objects.status }}</span>
                                        {% elif objects.status == "approved" %}
                                            <span
                                                    class="badge badge-pill badge-soft-success font-size-12">{{ objects.status }}</span>
                                        {% else %}
                                            <span
                                                    class="badge badge-pill badge-soft-secondary font-size-12">{{ objects.status }}</span>
                                        {% endif %}
                                    {% endif %}

                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="card-body">
                <p class="mb-0 text-danger">
                    <b>No requests available</b>
                </p>
            </div>
        {% endif %}
    </div>



{% endblock content %}