{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    videos
                </div>
                <h2 class="page-title">
                    Education
                </h2>
            </div>
        </div>
    </div>
</div>


<div class="col-12">
    <div class="card">
        <div class="card-body border-bottom">
            <div class="row">
                <div class="col-4">
                    <iframe  allowfullscreen class="mt-4"  height="220"
                             src="https://www.youtube.com/embed/o7zazuy_UfI"
                            title="Cryptocurrencies II: Last Week Tonight with John Oliver (HBO)"
                            ></iframe>
                </div>
                <div class="col-4">
                    <iframe allowfullscreen class="mt-4" height="220"
                            src="https://www.youtube.com/embed/xk1Z_K6K9s8">
                    </iframe>
                </div>
                <div class="col-4">
                    <iframe allowfullscreen class="mt-4" height="220"
                            src="https://www.youtube.com/embed/tWIpoodQXmo">
                    </iframe>
                </div>
                <div class="col-4">
                    <iframe allowfullscreen class="mt-4" height="220"
                            src="https://www.youtube.com/embed/pDDtVdG6ISU">
                    </iframe>
                </div>
                <div class="col-4">
                    <iframe allowfullscreen class="mt-4" height="220"
                            src="https://www.youtube.com/embed/Mf8aTn8Kh9M">
                    </iframe>
                </div>
                <div class="col-4">
                    <iframe allowfullscreen class="mt-4" height="220"
                            src="https://www.youtube.com/embed/M-T1Kg2NZcQ">
                    </iframe>
                </div>
                <div class="col-4">
                    <iframe allowfullscreen class="mt-4" height="220"
                            src="https://www.youtube.com/embed/SCMgz5jf3cY">
                    </iframe>
                </div>
                <div class="col-4">
                    <iframe allowfullscreen class="mt-4" height="220"
                            src="https://www.youtube.com/embed/O4JFZk8maaY">
                    </iframe>
                </div>
                <div class="col-4">
                    <iframe allowfullscreen class="mt-4" height="220"
                            src="https://www.youtube.com/embed/LzN3IaAgi_0">
                    </iframe>
                </div>
                <div class="col-4">
                    <iframe allowfullscreen class="mt-4" height="220"
                            src="https://www.youtube.com/embed/dXQHxhG2I1c">
                    </iframe>
                </div>
                <div class="col-4">
                    <iframe allowfullscreen class="mt-4" height="220"
                            src="https://www.youtube.com/embed/7_96-DTv5dU">
                    </iframe>
                </div>
                <div class="col-4">
                    <iframe allowfullscreen class="mt-4" height="220"
                            src="https://www.youtube.com/embed/8H3wSZT_gLw">
                    </iframe>
                </div>
                <div class="col-4">
                    <iframe allowfullscreen class="mt-4" height="220"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}