{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-centre text-center mt-4">
    <div class="col-lg-4 col-sm-4" >
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'admin/img/send.jpg' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Send Money To Anyone across the world</h5>
    <a href="{% url 'payapp:transaction-create' %}" class="btn btn-success btn-rounded">Send Money</a>
  </div>
</div>
    </div>    <div class="col-lg-6 col-sm-6" >
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'admin/img/receive.jpg' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Request Money To Anyone across the world</h5>
    <a href="{% url 'payapp:request-create' %}" class="btn btn-success">Request Money</a>
  </div>
</div>
    </div>
</div>
{% endblock content %}