{% extends 'base.html' %}
{% block content %}
<div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Overview
                </div>
                <h2 class="page-title">
                  Requests
                </h2>
              </div>
              <!-- Page title actions -->

            </div>
          </div>
        </div>

<div class="col-12">
    <div class="card">
        <div class="card-body border-bottom">
            <div class="col-6">
                <p class="mb-0 h4">
                    <i class="bx bx-transfer"></i> All Requests
                </p>
            </div>

        </div>
        {% if object_list %}
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table align-middle table-nowrap table-check">
                    <thead class="table-light">
                    <tr>
                        <th class="align-middle">ID</th>
                        <th class="align-middle">Sender</th>
                        <th class="align-middle">Receiver</th>
                        <th class="align-middle">Amount</th>
                        <th class="align-middle">Type</th>
                        <th class="align-middle">Status</th>
                        <th class="align-middle">Created</th>
                        <th class="align-middle">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for objects in object_list %}
                    <tr>
                        <td>
                            <b># {{ objects.id }}</b>
                        </td>
                        <td>
                            {% if objects.sender == request.user %}
                            <b>You</b>
                            {% else %}
                            {{ objects.sender.get_name_info }}
                            {% endif %}
                        </td>
                        <td>
                            {% if objects.receiver == request.user %}
                            <b>You</b>
                            {% else %}
                            {{ objects.receiver.get_name_info }}
                            {% endif %}
                        </td>
                        <td>
                            <b>{{ objects.amount }} {{ request.user.currency_type }}</b>
                        </td>
                        <td>
                            <b>
                                {% if objects.sender == request.user %}
                                <i class="fa fa-arrow-up text-primary"></i> Send
                                {% else %}
                                <i class="fa fa-arrow-down text-primary"></i> Received
                                {% endif %}
                            </b>
                        </td>
                        <td>
                            <b>
                                {% if objects.status == 'pending' %}
                                <span class="badge bg-warning me-1"></span> {{ objects.get_status_display }}
                                {% elif objects.status == 'accepted' %}
                                <span class="badge bg-success me-1"></span>
                                {{ objects.get_status_display }}
                                {% else %}
                                <span class="badge bg-danger me-1"></span>
                                {{ objects.get_status_display }}
                                {% endif %}
                            </b>
                        </td>
                        <td>
                            <i class="fab me-1"></i> {{ objects.created_on }}
                        </td>
                        <td>
                            {% if objects.receiver == request.user %}
                            {% if objects.status == "pending" %}
                            <a href="{% url 'payapp:request-update' objects.id %}?status=approved"><span
                                    class=" btn btn-sm btn-outline-success font-size-12">Accept</span></a>
                            <a href="{% url 'payapp:request-update' objects.id %}?status=cancel"><span
                                    class="btn btn-sm btn-outline-danger font-size-12">Cancel</span></a>
                            {% elif objects.status == "approved" %}
                            <a href="#"><span
                                    class="bg-success font-size-12">{{ objects.status }}</span></a>
                            {% else %}
                            <a href="#"><span
                                    class="badge badge-pill badge-soft-secondary font-size-12">{{ objects.status }}</span></a>
                            {% endif %}
                            {% elif objects.sender == request.user %}
                            {% if objects.status == "pending" %}
                            <span
                                    class="badge badge-pill badge-soft-primary font-size-12">{{ objects.status }}</span>
                            {% elif objects.status == "approved" %}
                            <span
                                    class="badge badge-pill badge-soft-success font-size-12">{{ objects.status }}</span>
                            {% else %}
                            <span
                                    class="badge badge-pill badge-soft-secondary font-size-12">{{ objects.status }}</span>
                            {% endif %}
                            {% endif %}

                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="card-body">
            <p class="mb-0 text-danger">
                <b>No requests available</b>
            </p>
        </div>
        {% endif %}
    </div>

</div>
{% endblock content %}