{% extends 'register/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block base_no_body %}

<body class=" mt-5 d-flex flex-column theme-dark">
<div class="page mt-5 page-center">
    <div class="container mt-5 container-normal py-4">
        <div class="row align-items-center g-4">
            <div class="col-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <div class="row justify-content-center mb-4">

                            <div class="col-8"><h2 class="h2 mt-4 text-center mb-4">Register your account</h2>
                            </div>
                        </div>
                        <form action="./" autocomplete="off" method="post" novalidate="">
                            {% csrf_token %}
                            {{ form |crispy }}
                            <div class="mb-2">
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <span class="form-check-label">Remember me on this device</span>
                                </label>
                            </div>
                            <div class="form-footer">
                                <button class="btn btn-primary w-100" type="submit">Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center text-muted mt-3">
                    Already have account ? <a href="{% url 'register:login' %}" tabindex="-1">Sign In</a>
                </div>
            </div>
            <div class="col-lg d-none d-lg-block">
                <img alt="" class="d-block mx-auto" height="300"
                     src="{% static 'website/images/login.svg' %}">
            </div>
        </div>

    </div>
</div>
<!-- Libs JS -->
<!-- Tabler Core -->
<script defer="" src="./dist/js/tabler.min.js?1674944800"></script>
<script defer="" src="./dist/js/demo.min.js?1674944800"></script>

</body>

{% endblock %}